files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/install_docker.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      yum install -y docker
      service docker start

      echo 'DOCKER_STORAGE_OPTIONS="--storage-driver=overlay"' > /etc/sysconfig/docker-storage

      service docker restart

      docker pull bash:4.4
      docker pull java:7
      docker pull gcc:4.9
      docker pull python:2
      docker pull golang:1.6
      docker pull nacyot/objectivec-gcc:apt
      docker pull perl:5.20
      docker pull ruby:2.1
      docker pull williamyeh/scala

      #docker build -t static-tools /opt/python/current/app/scripts/static_image/.
      #docker build -t lisp /opt/python/current/app/scripts/lisp/.

      usermod -a -G docker ec2-user
      usermod -a -G docker wsgi
      usermod -a -G docker nobody
