files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/install_redis.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # from here: http://www.codingsteps.com/install-redis-2-6-on-amazon-ec2-linux-ami-or-centos/
      # and here: https://raw.github.com/gist/257849/9f1e627e0b7dbe68882fa2b7bdb1b2b263522004/redis-server
      ###############################################
      # To use:
      # wget https://gist.githubusercontent.com/four43/e00d01ca084c5972f229/raw/install-redis.sh
      # chmod 777 install-redis.sh
      # ./install-redis.sh
      ###############################################
      # "*****************************************"
      # " 1. Prerequisites: Install updates, set time zones, install GCC and make"
      # "*****************************************"
      yum -y install gcc gcc-c++ make
      # "*****************************************"
      # " 2. Download, Untar and Make Redis 2.6"
      # "*****************************************"
      cd /usr/local/src
      wget http://download.redis.io/redis-stable.tar.gz
      tar xzf redis-stable.tar.gz
      rm redis-stable.tar.gz -f
      cd redis-stable
      make
      # "*****************************************"
      # " 3. Create Directories and Copy Redis Files"
      # "*****************************************"
      mkdir /etc/redis /var/lib/redis
      cp src/redis-server src/redis-cli /usr/local/bin
      # "*****************************************"
      # " 4. Configure Redis.Conf"
      # "*****************************************"
      # " Edit redis.conf as follows:"
      # " 1: ... daemonize yes"
      # " 2: ... bind 127.0.0.1"
      # " 3: ... dir /var/lib/redis"
      # " 4: ... loglevel notice"
      # " 5: ... logfile /var/log/redis.log"
      # "*****************************************"
      sed -e "s/^daemonize no$/daemonize yes/" -e "s/^# bind 127.0.0.1$/bind 127.0.0.1/" -e "s/^dir \.\//dir \/var\/lib\/redis\//" -e "s/^loglevel verbose$/loglevel notice/" -e "s/^logfile stdout$/logfile \/var\/log\/redis.log/" redis.conf | tee /etc/redis/redis.conf
      # "*****************************************"
      # " 5. Download init Script"
      # "*****************************************"
      wget https://gist.githubusercontent.com/four43/c8bdd494292dcb1e2d38/raw/redis-server
      # "*****************************************"
      # " 6. Move and Configure Redis-Server"
      # "*****************************************"
      mv redis-server /etc/init.d
      chmod 755 /etc/init.d/redis-server
      # "*****************************************"
      # " 7. Auto-Enable Redis-Server"
      # "*****************************************"
      chkconfig --add redis-server
      chkconfig --level 345 redis-server on
      # "*****************************************"
      # " 8. Start Redis Server"
      # "*****************************************"
      service redis-server start
      # "*****************************************"
      # " Complete!"
      # " You can test your redis installation using the redis console:"
      # "   $ src/redis-cli"
      # "   redis> set foo bar"
      # "   OK"
      # "   redis> get foo"
      # "   bar"
      # "*****************************************"
